<footer class="footer">
    <ul class="list center">
        <li class="list-item"><a href="#" class="list-link">Link - 1</a></li>
        <li class="list-item"><a href="#" class="list-link">Link -2</a></li>
        <li class="list-item"><a href="#" class="list-link">Link - 3</a></li>
        <li class="list-item"><a href="#" class="list-link">Link - 4</a></li>
        <li class="list-item"><a href="#" class="list-link">Link - 5</a></li>
        <li class="list-item"><a href="#" class="list-link">Link - 6</a></li>
    </ul>
    <p class="declaration">By submitting this assignment I declare that this assignment is my own work in accordance
        with
        the Seneca Academic Policy. No part of this assignment has been copied manually or
        electronically from any other source (including web sites) or distributed to other students</p>
    <p class="copyright">
        © StudentFirstName StudentLastName, StudentEmail@myseneca.ca, WEB322 Winter 2023
    </p>
</footer>