<Header class="header">
    <nav class="navbar">
        <ul class="list">
            <li class="list-item">
                <a href="/" class="list-link"><img class="logo" src="./images/logo.png"
                        alt="Logo"></a>
            </li>
            <li class="list-item">
                <a href="/rentals" class="list-link">Rentals</a>
            </li>
            <li class="list-item">
                <a href="/sign-up" class="list-link">Sign Up</a>
            </li>
            <li class="list-item">
                <a href="/log-in" class="list-link">Log In</a>
            </li>
        </ul>
    </nav>
</Header>
<div class="hero">
    <img class="hero-img" src="./images/hero.jpg" alt="House Image">
    <div class="caption">Keep smiling, because life is a beautiful thing and there's so much to smile about.</div>
</div>